:root {
    --cor-cinza-escuro: #767676;
    --cor-cinza-claro: #f0f2f5;
    --cor-azul: #7AA2DA;
}

.button:hover {
    filter: brightness(0.8);
}

body {
    font-family: 'inter', sans-serif;
    font-size: 1rem;
    margin: 0;
}

#menu-superior {
    height: 13vh;
    background-color: var(--cor-cinza-claro);
    color: white;
    /* padding: .5rem; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#botoes-menu-superior {
    display: flex;
    align-items: center;
    gap: 1em;
    flex-wrap: wrap;
}


#menu-superior img {
    height: 4em;
}


#menu-superior button.botao-novo-quadro {
    background-color: var(--cor-azul);
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 0.2rem;
    cursor: pointer;
    border-radius: 0.3rem;
}

#menu-superior button#botao-config {
    margin: auto 1em auto auto;
    height: 2em;
    width: 2em;
    background-image: url('./img/icon-config.png');
    background-size: cover;
    border: none;
    cursor: pointer;

}

/* MENU LATERAL---------------------------------------------------------------*/

aside {
    max-width: 13em;
    min-height: 85vh;
    display: flex;
    background-color: var(--cor-cinza-escuro);
    text-wrap: nowrap;
    overflow: hidden;
    transition:  0.4s ease-out;
}


aside div {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start ;
    padding: 1em 0;
    min-height: 87vh;
}

aside div nav {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;

}



#menu-lateral div nav ul {
    box-sizing: border-box;
    padding: 0;
    width: 100%;
}

#menu-lateral div nav ul li {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: center;
    list-style: none;
    min-height: 3em;
}

#menu-lateral div nav ul li:hover {
    cursor: pointer;
    background-color: #969696;
}


aside#menu-lateral div ul li a {
    padding: 0 0 0 1.5em;
    min-width: 100%;
    text-decoration: none;
    color: #E1E1E1;
}
aside#menu-lateral div ul li a img {
    width: 1em;
    height: 1em;
    margin-right: 1.5em;
}

#botao-fechar-menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
    align-self: flex-end;
    margin: 0.5em 1.5em 0 auto;
}

#menu-lateral div button img {
    rotate: 180deg;
    /* align-self: flex-end; */
    margin: 0.5em auto auto 1.5em;
    width: 1em;
    height: 1em;
    
}
.menu-fechado {
    max-width: 4em;;
}

#menu-lateral div button img.icon-abrir-menu {
    rotate: 0deg;
    /* align-self: flex-end; */
    margin: 0.5em auto auto 1.5em;
    width: 1em;
    height: 1em;
} 